<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>

    <!-- navbar start-->
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <img src="static\netflix-logo.png" alt="logo" class="w-32 rounded-lg">
      </div>
      <div class="flex-none">
        <ul class="menu menu-horizontal px-1">
          <li><a>Link</a></li>
          <li>
            <details>
              <summary>
                Parent
              </summary>
              <ul class="p-2 bg-base-100">
                <li><a>English</a></li>
                <li><a>Sign IN</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
    <!-- navbar end-->


  </body>
</html>
